@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

#clockContainer{
    position: relative;
    height: 41vw;
    width: 41vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

body{
    background-color: skyblue;
}

h1{
    font-family: 'Merriweather', serif;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
    opacity: 0.8;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    /* display: none; */
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    /* display: none; */
    
}
